@charset "utf-8";
/* CSS Document */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
}


body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}


ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}


a {
	color: orange;
	text-decoration: none;
}


a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}


a img{
	border: none 0 #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}


footer,
header,
nav,
section {
	display: block;
}


select:focus {
  outline: 2px solid yellow;
}


#maincontent {
  min-height: 100%;
}


#footer {
  background-color: #1b3c58;
  color: #fff;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


#footer a:focus {
  outline: 2px solid yellow;
  color: white;
}



/* ====================== Grid Layout ====================== */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.col-1 {
  width: 8.33%;
}


.col-2 {
  width: 16.67%;
}


.col-3 {
  width: 25%;
}


.col-4 {
  width: 33.33%;
}


.col-5 {
  width: 41.66%;
}


.col-6 {
  width: 50%;
}


.col-7 {
  width: 58.33%;
}


.col-8 {
  width: 66.66%;
}


.col-9 {
  width: 75%;
}


.col-10 {
  width: 83.33%;
}


.col-11 {
  width: 91.66%;
}


.col-12 {
  width: 100%;
}



/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #1b3c58;
  padding: 5px 0;
  text-align:center;
}


nav h1 {
  margin: auto;
}


nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}


nav h1 a:focus,
nav h1 a:hover {
  outline: 2px solid yellow;
  color: whitesmoke;
}



/* ====================== Map ====================== */
#map {
  height: 350px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
  background-color: #ccc;
}



/* ====================== Back To Top Button ====================== */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 1em;
  min-width: 48px;
  min-height: 48px;
  border: none;
  background-color: #774a15;
  color: #eae6e6;
  cursor: pointer;
  padding: 20px 20px;
  border-radius: 50%;
}


#back-to-top:hover {
  background-color: #776652;
}


#back-to-top:focus {
  outline: 1px solid yellow;
}



/* ====================== Media Queries ====================== */
@media screen and (min-width: 600px) {
  .inside #map-container {
    width: 45%;
    height: 500px;
    position: fixed;
    right: 20px;
    top: 120px;
  }


  .inside #map {
    height: 100%;
  }


  .inside #restaurant-container {
    width: 50%;
    margin-left: 5px;
    margin-top: 5px;
  }


  .inside #restaurant-img {
    max-width: 100%;
  }


  .inside #reviews-container {
    width: 50%;
  }


  .inside #reviews-list li {
    position: relative;
    margin-bottom: 5px;
  }


  .inside #footer {
    width: 50%;
  }
}
